[Desktop Entry]
Version=0.2.3
Type=Application
Name=ReadyShow
GenericName=Presentation Software
Comment=Presentación multimedia, letras y Biblias
Exec=ReadyShow
Icon=ReadyShow
Terminal=false
Categories=Office;Presentation;
Keywords=presentacion;biblia;cantos;slides;
StartupNotify=true